# Environment & Secret Keys
.env
config/gcp-key.json
*.json
!config/bigquery_schema.json

# Virtual Environment
.venv/
venv/
ENV/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*.class

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# DuckDB Staging Artifacts
*.duckdb
*.db
